/*CSS FOR THE POGS EXTENSION*/
.customBut{
	margin-bottom:10px;
}
.customizeOptions{
	height: 300px;
    width: 90%;
	border:solid 1px black;
}
.customizerMenu{
	border: 1px solid #1456a0;
}
.customizerCatCont{
	background-color: #084691;
    border: 1px solid #1456A0;
    border-radius: 4px;
    height: 30px;
    width: 456px;
	
}
.customizerCatCont label{
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 25px;
}
.leftPocket{
}
.leftPocketCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.rightPocket{
}
.rightPocketCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.leftShoulder{
}
.leftShoulderCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.rightShoulder{
}
.rightShoulderCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.blockInline{
	display:block;
}
.clearLeft{
	clear:left;
}
.embroideryCont{
	border-left: 1px solid #1456A0;
    border-right: 1px solid #1456A0;
    clear: left;
    float: left;
    margin-left: -1px;
    width: 100%;
}
.oldEmbroiderySogs{
	border-left: 1px solid #1456A0;
    border-right: 1px solid #1456A0;
	border-bottom: 1px solid #1456A0;
    clear: left;
    float: left;
    margin-left: -1px;
    width: 100%;
	border-top:solid 2px black;
}
.customizerCatCont label:after{
	content:"" !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AJ{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AF{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AG{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AV{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AL{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AI{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AM{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AN{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AA{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AR{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AY{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B8{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AP{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B0{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B1{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AZ{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B6{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AK{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B5{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B7{
	display:none;
}
#yellow1Calves{
}
