/**REMOVE THIS SNIPPET AFTER COMPLETION OF THE CUSTOMIZER**/
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AQ{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AS{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AU{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AW{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B2{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B3{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B4{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BA{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BB{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AT{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B9{
	display:none;
}

.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AO{
	display:none;
}
/**END REMOVE THIS SNIPPET AFTER COMPLETION OF THE CUSTOMIZER SECTION**/


/*CSS FOR THE POGS EXTENSION*/
.customBut{
	margin-bottom:10px;
}
.customizeOptions{
	height: 300px;
    width: 90%;
	border:solid 1px black;
}
.customizerMenu{
	border: 1px solid #1456a0;
}
.customizerCatCont{
	background-color: #084691;
    border: 1px solid #1456A0;
    border-radius: 4px;
    height: 30px;
    width: 456px;
	
}
.customizerCatCont label{
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding-left: 25px;
}
.leftPocket{
}
.leftPocketCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.rightPocket{
}
.rightPocketCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.leftShoulder{
}
.leftShoulderCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.rightShoulder{
}
.rightShoulderCont{
	clear:left;
	float:left;
	padding-left:10px;
}
.blockInline{
	display:block;
}
.clearLeft{
	clear:left;
}
.embroideryCont{
	border-left: 1px solid #1456A0;
    border-right: 1px solid #1456A0;
    clear: left;
    float: left;
    margin-left: -1px;
    width: 100%;
}
.oldEmbroiderySogs{
	border-left: 1px solid #1456A0;
    border-right: 1px solid #1456A0;
	border-bottom: 1px solid #1456A0;
    clear: left;
    float: left;
    margin-left: -1px;
    width: 100%;
	border-top:solid 2px black;
}
.customizerCatCont label:after{
	content:"" !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AJ{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AF{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AG{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AV{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AL{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AI{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AM{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AN{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AA{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AR{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AY{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B8{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AP{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B0{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B1{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AZ{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B6{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_AK{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B5{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_B7{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BC{
	display:none;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BD{
	display:none;
}
div.leftPocketEmbroidCont div#div_BD{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BE{
	display:none;
}
div.leftPocketEmbroidCont div#div_BE{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_A8{
	display:none;
}
div.leftPocketEmbroidCont div#div_A8{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BG{
	display:none;
}
div.rightPocketEmbroidCont div#div_BG{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BH{
	display:none;
}
div.rightPocketEmbroidCont div#div_BH{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BI{
	display:none;
}
div.rightPocketEmbroidCont div#div_BI{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BJ{
	display:none;
}
div.leftShoulderEmbroidCont div#div_BJ{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BK{
	display:none;
}
div.leftShoulderEmbroidCont div#div_BK{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BL{
	display:none;
}
div.leftShoulderEmbroidCont div#div_BL{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BM{
	display:none;
}
div.rightShoulderEmbroidCont div#div_BM{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BN{
	display:none;
}
div.rightShoulderEmbroidCont div#div_BN{
	display:block !important;
}
.atcVarStandardCont div#JSONPogDisplay_OVERALLS-TEST1 div#div_BO{
	display:none;
}
div.rightShoulderEmbroidCont div#div_BO{
	display:block !important;
}
#div_A3{
	margin-bottom:10px;
}
.logoEmbroidMenu p{
	text-decoration:underline;
	margin-bottom:15px;
}
.logoEmbroidMenu{
	border: 1px solid #1456A0;
	display:none;
}
.stripeReset{
	border: 1px solid #084691;
    border-radius: 5px 5px 5px 5px;
    color: #084691;
    cursor: pointer;
    display: block;
    margin-top: 5px;
	margin-right:5px;
    padding-bottom: 1px;
    padding-left: 9px;
    width: 155px;
	float:right;
}
.stripeReset:hover{
	color:white;
	background-color:#084691;
}
.stipeCustomizer{
	padding-bottom:5px;
	padding-top:3px;
}
.stipeCustomizer input{
	float:right;
	margin-right:5px;
}
.embroideryCont{
	padding-bottom:5px;
	padding-top:3px;
}
.embroideryCont input{
	float:right;
	margin-right:5px;
}
.embroidCatCont{
	width:100%;
}
